body {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  align-items: center;         /* <- Necesario para centrar horizontalmente */
  margin: 0;                   /* <- Evita espacios que agregan los navegadores */
  padding: 10px;
}

.container{
  background-color: #0D0D0D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  width: 60%;
  margin: 1.5rem;
}


.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.project-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.photo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  padding: 0 20px;
}

.project-container{
  display: flex;
  flex-direction: column;
}

.project{
  display: flex;
  flex-direction: row;
}

.project-img{
  border-radius: 5%;
  width: 300px;
  margin: 10px;
}

.project-title{
  color: #E0E0E0;
  font-size: 25px;
}

.photo{
  border-radius: 50%;
  width: 200px;
}


h1{
  color:#007BFF;
  margin: 10px 0;
  font-size:50px;

}

h2{
  display: inline-block;
  color:#E0E0E0;
  margin-top: 30px;
  margin-bottom: 0;
  font-size:30px;

}

h3{
  color:#A0A0A0;
  margin: 2px 0;
  font-size: 20px;
}

p{
  color:#A0A0A0;
  margin: 5px 0;
  font-size: 18px;
}

a{
  text-align: center;
  text-decoration: none;
}


button:hover{
  background-color: #0056b3;
}

/* Dropdown Button */
.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007BFF;
  color: #E0E0E0;
  font-weight: bold;
  font-size: 15px;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 20px ;
  
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A1A1A;
  width: 110px;
  
  z-index: 1;
}


.dropdown-content a {
  color: #E0E0E0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #282828;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #0056b3;}




@media (max-width: 760px) {
  .container {
    flex-direction: column;      
    padding: 1rem;          
    height: auto;                
  }

  .photo-container,
  .content-container {
    
    width: 100%;                 
  }

  .content-container{
    margin-top: 50px;
  }

  h1{
    font-size: 40px;
  }

  .photo {
    width: 180px;
    margin-top: 50px;
  }
 
}

@media (max-width: 1300px) {
  .container {
    width: 75%;
  }

  
}