.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: 80% 50%;
    height: 100%;
    color: white;
    padding-top: 200px;
}
.photo{
    width: 150px;
    border-radius: 50%;
}

.carousel-inner > .carousel-item > img {
    width:640px;
    height:360px;
    object-fit: scale-down;
  }